body{
    background-image:url("../img/img-config.png");
    overflow: hidden;
}

h3{
    font-size:20px;
    color:rgb(169,171,173);
      font-family: 'cinzel',serif; 
}

/* CONTEÚDO */
.content{
    flex:1;
    padding:40px;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    box-sizing:border-box;
}

/* TÍTULO */
.page-header h1{
    font-size:45px;
    color:white;
    margin-bottom:8px;
}

.page-header p{
    color:#8a8a8a;
    margin-bottom:30px;
}

/* CENTRALIZAÇÃO */
.profile-container{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-grow:1;
    padding-bottom:40px;
}

/* CARD */
.profile-card{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(16px);
    
    

    width:100%;
    max-width:440px;

    padding:35px;

    border-radius:20px;

    box-sizing:border-box;
}

/* TEXTO */
.user-identification{
    text-align:center;
    margin-bottom:30px;
}

.user-identification h2{
    color:white;
    margin-bottom:10px;
}

.user-role{
    color:#cccccc;
}

/* INFORMAÇÕES */
.info-group{
    display:flex;
    flex-direction:column;
    gap:15px;

    margin-bottom:25px;
}

.info-item{
    background:white;

    color:black;

    padding:15px;

    border-radius:8px;

    display:flex;

    align-items:center;

    gap:10px;
}

.info-icon{
    color:black;
    width:20px;
    text-align:center;
}

.info-text{
    color:black;
}

/* BOTÃO */
.btn-edit-profile{
    width:100%;

    padding:14px;

    border:none;

    border-radius:8px;

    background:white;

    color:black;

    cursor:pointer;
}

.btn-edit-profile:hover{
    opacity:0.9;
}