body{
    background-image:url("../img/img-projeto.png");



}



a{

padding: 15px 40px;

    
}

button:hover {
    background: white;

    color: black;

    transform: scale(1.05);

    text-align: center;
}

