body{
    margin:0;
    height:100vh;
    background-image:url("../img/img-flor.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero{
    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;
}

/* BUILD */


h6{ 
    color:rgba(138, 133, 133, 0.885);
    font-size:60px;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;

    margin-bottom:35px;
    
}


p{
    color:whitesmoke;

    font-size:25px;

    text-align:center;

    margin-top:-30px;
}

button{
    padding:15px 40px;

    font-size:18px;

    border:1px solid white;

    border-radius:8px;

    background:transparent;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    background:white;

    color:black;

    transform:scale(1.05);
}

/* Login (login.html) */
body{
    background-color: #f4f4f4;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .login-box{
    background: blur(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    width: 340px;
    padding: 35px 25px;  /* Diminui o espaçamento interno para ela não esticar à toa */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(207, 197, 197);
    display: grid;
    gap: 16px;
    width: 100%;
    max-width: 350px;       /* Diminui a largura máxima da caixa */
    height: auto;
 }
 

 form{
    display: grid;
    gap: 10px;

 }
 
 h1{
    color: #8a8a8a;
    text-align: center;
    font-size: 50px;
 } 

 .login-subtitle{
    text-align: center;
    color: #8a8a8a;
    font-size: 30px;
 }

.login-box form input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.login-footer{
    text-align: center;
    margin-top: 20px;
    color:#ccc
}