body{
  background-image:url("../img/img-Tarefas.png");
}

h3{
  color: rgb(169, 171, 173);
  font-size: 20px;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

